<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollegeProfileBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B1BB5941C4FE8DA002E8D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1BB5A81C4FE8DC002E8D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1BB5B31C4FE8DC002E8D88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
